  /* Ryan Ramadhan || FSW 6 */

  body {
      margin: 0;
      padding: 0;
      font-family: Helvetica;
      font-style: normal;
  }

  /* Navbar */
  .navbar {
      padding: 0.5em 6.8em;
      position: fixed;
      width: 100%;
      z-index: 999999999;
  }

  .nav_utama {
      width: 100%;
      padding: 0px;
  }

  .nav-link {
      margin-right: 10px;
      color: #000;
  }

  .nav-link:hover {
      color: #0D28A6;
      font-weight: 700;
  }

  .off-navbar {
      width: 50%;
  }

  .nav_btn {
      background-color: #5cb85f;
      height: 38px;
      margin-top: 0px;
      font-weight: bold;
  }

  /* content desc sewa binar */
  .desc_sewa {
      width: 100%;
      padding-top: 80px;
      background-color: #f1f3ff;
      height: 100%;
  }

  .desc_utama {
      display: flex;
      justify-content: space-between;
      padding: 0px;
  }

  .desc_kiri {
      width: 100%;
      padding-top: 70px;
      margin-left: 109px;
  }

  .desc_kiri h1 {
      font-weight: 700;
      font-size: 36px;
      line-height: 150%;
  }

  .desc_kiri p {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      width: 35vw;
  }

  .desc_kiri button {
      background-color: #5cb85f;
      align-self: center;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 50px;
  }

  .desc_kanan {
      width: 50%;
      position: relative;
      right: 0;
  }

  .bg-mobil {
      background: #0D28A6;
      position: absolute;
      width: 700px;
      height: 243px;
      border-radius: 60px 0px 0px 0px;
      bottom: 0px;
      z-index: 1;
  }

  .img-mobil {
      position: relative;
      width: 704px;
      height: 407px;
      z-index: 100;
      margin-top: 10px;
  }

  /* Our Services */
  .our_utama {
      display: flex;
      padding-top: 105px;
  }

  .our_kiri {
      margin-left: 160px;
  }

  .our_kiri img {
      width: 459px;
      height: 428px;
  }

  .our_kanan {
      padding-left: 100px;
      padding-top: 40px;
  }

  .title-services {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      width: 36vw;
      margin-bottom: 24px;
  }

  .desc-services {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      width: 32vw;
      margin-bottom: 16px;
  }

  .our_kanan_konten {
      display: flex;
  }

  .konten_kiri {
      padding-right: 15px;
  }

  .konten_img {
      margin-bottom: 18px;
  }

  .konten_kanan p {
      margin-bottom: 23px;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
  }

  /* Why Us Section */
  .why {
      padding-top: 90px;
  }

  .why_atas {
      margin: 50px 110px;
  }

  .why_atas h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
  }

  .why_atas p {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 30px;
  }

  .card_why_bawah {
      overflow: hidden;
      margin: 0.5em 6.9em;
      display: flex;
      justify-content: space-between;
  }

  .card_itm {
      border: 1px solid #d0d0d0;
      border-radius: 8px;
      padding: 18px;
      overflow: hidden;
      width: 280px;
      height: 210px;
  }

  .card_itm h2 {
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin: 16px 0px;
  }

  .card_itm p {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      margin-right: 20px;
  }

  /* Testimonial Section */
  .testi {
      padding-top: 70px;
  }

  .testiAtas h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
  }

  .testiAtas p {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 40px;
  }

  .card {
      border: 1px solid #f1f3ff;
  }

  .item {
      width: 100%;
      background-color: #f1f3ff;
  }

  .row {
      margin: 0px 5px;
  }

  .card_kiri {
      width: 50%;
      height: 50%;
      margin: 50px 10px;
  }

  .card_kanan {
      text-align: justify;
      font-size: 12px;
      padding: 50px 30px 0 20px;
  }

  .card_kanan i {
      color: gold;
      padding-bottom: 10px;
  }

  .owl-carousel .card-body {
      display: flex;
  }

  /* content mulai sewa */
  .container {
      border: 1px solid black;
      width: 100%;
  }

  .mulai_sewa {
      padding: 4em 6.8em 0em 6.8em;
  }

  .box {
      height: 40vh;
      border-radius: 13px;
      background-color: #0d28a6;
      color: white;
      padding-top: 60px;
  }

  .box h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 150%;
      text-align: center;
  }

  .parag {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      padding-top: 15px;
      padding-bottom: 30px;
      width: 40%;
      margin: 0 auto;
      text-align: center;
  }


  /* FAQ Section */
  .faq {
      padding-top: 90px;
  }

  .utama {
      display: flex;
      padding: 0px 108px 0px 108px;
  }

  .faq_kiri {
      width: 50%;
  }

  .faq_kiri h1 {
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
  }

  .faq_kiri p {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
  }

  .faq_kanan {
      width: 60.6%;
  }

  .card {
      border: 1px solid #d4d4d4;
      margin-bottom: 16px;
  }

  /* Footer */

  .footer_utama {
      display: flex;
      padding: 100px 107px 0px 107px;
  }

  .footer_alamat {
      width: 27%;
  }

  .footer_link {
      margin-left: 30px;
  }

  .footer_sosmed {
      width: 27%;
      margin-left: 70px;
  }

  .footer_alamat a {
      margin-right: 14px;
  }

  .footer_copy {
      width: 20%;
      margin-left: 60px;
  }



  /* Mobile, Tablet Version */

  @media (max-width: 768px) {

      /* Navbar */
      .navbar {
          padding: 0px;
      }

      .nav_utama {
          width: 100%;
          padding: 12px;
      }

      .navigation {
          margin-top: -20px;
      }

      .nav_btn {
          width: 65%;
          height: 38px;
          margin-top: 0px;
          font-weight: bold;
      }

      /* content desc sewa binar */
      .desc_sewa {
          overflow: hidden;
          width: 100%;
      }

      .desc_utama {
          flex-direction: column;
      }

      .desc_kiri {
          width: 100%;
          padding-top: 0px;
          margin-left: 0px;
          padding-left: 12px;
      }

      .desc_kiri h1 {
          width: 85vw;
      }

      .desc_kiri p {
          width: 92vw;
      }

      .desc_kiri button {
          margin-bottom: 24px;
      }

      .desc_kanan {
          width: 100%;
          padding-left: 12px;
      }

      .bg-mobil {
          width: 100%;
          height: 130px;
      }

      .img-mobil {
          position: relative;
          padding-right: 0px;
          width: 100%;
          height: 100%;
      }

      /* Our Services */
      .our_service {
          width: 100%;
      }

      .our_utama {
          display: flex;
          flex-direction: column;
          padding-top: 85px;
      }

      .our_kiri {
          margin: auto;
      }

      .our_kiri img {
          width: 252px;
          height: 228px;
      }

      .our_kanan {
          width: 100%;
          padding: 12px;
          padding-top: 25px;
      }

      .title-services {
          font-weight: bold;
          font-size: 24px;
          line-height: 36px;
          width: 100%;
          margin-bottom: 24px;
      }

      .desc-services {
          width: 100%;
          margin-bottom: 16px;
      }

      /* Why Us Section */
      .why {
          padding-top: 70px;
          width: 100%;
      }

      .why_atas {
          margin: 0px;
          text-align: center;
      }

      .card_why_bawah {
          margin: 0px;
          display: flex;
          flex-direction: column;
          gap: 10px;
      }

      .card_itm {
          border: 1px solid #d0d0d0;
          border-radius: 8px;
          padding: 28px;
          overflow: hidden;
          width: 93.5%;
          height: 200px;
          align-self: center;
      }

      .card_itm p {
          font-weight: 300;
          font-size: 15px;
          line-height: 20px;
      }

      /* Testimonial Section */
      .item {
          width: 100%;
      }

      .card_kiri {
          width: 30%;
          margin: 30px 35%;
      }

      .card_kanan {
          font-size: 12px;
          padding: 0 20px 30px 20px;
      }

      .card_kanan i {
          color: gold;
      }

      .faq-icon {
          text-align: center;
          padding-bottom: 0px;
      }

      .owl-carousel .card-body {
          flex-direction: column;
      }

      /* content mulai sewa */
      .mulai_sewa {
          padding: 12px;
      }

      .box {
          height: 430px;
          background-color: #0d28a6;
          margin-top: 60px;
          padding: 90px;
      }

      .box h1 {
          font-size: 24px;
          line-height: 36px;
      }

      .parag {
          padding-top: 15px;
          padding-bottom: 10px;
          width: 100%;
      }

      /* FAQ  */
      .faq {
          padding-top: 80px;
      }

      .utama {
          display: flex;
          flex-direction: column;
          padding: 0px 12px 0px 12px;
      }

      .faq_kiri h1 {
          font-weight: bold;
          font-size: 24px;
          line-height: 36px;
          text-align: center;
      }

      .faq_kiri {
          width: 100%;
          margin-bottom: 10px;
      }

      .faq_kiri h1 {
          font-weight: bold;
          font-size: 24px;
          line-height: 36px;
          text-align: center;
      }

      .faq_kiri p {
          font-weight: 300;
          font-size: 13.6px;
          line-height: 20px;
          text-align: center;
      }

      .faq_kanan {
          padding-left: 0px;
          width: 100%;
      }

      .card {
          margin-bottom: 16px;
      }

      /* Footer */
      .footer_utama {
          flex-direction: column;
          padding: 60px 0px 0px 0px;
      }

      .footer_alamat {
          padding: 0px 12px;
          width: 100%;
      }

      .footer_link {
          font-weight: 600;
          font-size: 14px;
          padding: 0px 12px;
          margin-left: -15px;
      }

      .footer_sosmed {
          width: 100%;
          margin-left: 0px;
          padding: 0px 12px;
          margin-top: 10px;
          margin-bottom: 10px;
      }

      .footer_sosmed a {
          display: inline;
      }

      .footer_copy {
          width: 100%;
          margin-left: 0px;
          padding: 15px 12px;
          margin-bottom: 20px;
      }
  }